@import "tailwindcss";

.words {
	scroll-snap-type: x mandatory;
	@apply w-[50ch] p-4 overflow-y-hidden overflow-x-scroll max-h-[11rem] scroll-smooth overflow-scroll text-4xl tracking-wide text-[#646669] leading-[3rem] z-0 select-none break-words
}

.words::-webkit-scrollbar {
	width: 0;
	/* Remove scrollbar space */
	background: transparent;
	/* Optional: just make scrollbar invisible */
}

.wordsInput {
	@apply text-4xl absolute w-[50ch] h-[11rem] top-[50%] translate-y-[-50%] opacity-0 z-10
}

.untyped {
	@apply text-gray-600
}

.correct {
	@apply text-white
}

.incorrect {
	@apply text-red-500
}

.active {
	@apply border-l-2 border-green-400 animate-pulse
}